.author {
    grid-area: author;
}

.description {
    grid-area: description;
}

.amazon {
    grid-area: amazon;
}

.image {
    grid-area: image;
}

@media screen and (min-width: 550px)
{
    .book {
        display: grid;
        height: 700px;
        grid-template-areas: "author author"
                         "description description"
                         "amazon image";
    }
}

@media screen and (max-width: 350px)
{
    .image {
        width:200px;
    }
}
.book {
    background-color: grey;
    margin: auto;
    padding: 20px;
    border-style: solid;
    border-color: black;
}

.container-book {
    display: inline-table;
    justify-content: center;
    margin: auto;
}