@media screen and (min-width:1520px)
{
    .pokemons
    {
        grid-template-columns: repeat(5, 300px);
    }
}

@media screen and (max-width:1520px) and (min-width:1200px)
{
    .pokemons
    {
        grid-template-columns: repeat(4, 300px);
    }
}

@media screen and (max-width:1200px) and (min-width:920px)
{
    .pokemons
    {
        grid-template-columns: repeat(3, 300px);
    }
}

@media screen and (max-width:920px) and (min-width:650px)
{
    .pokemons
    {
        grid-template-columns: repeat(2, 300px);
    }
}

@media screen and (max-width:650px) and (min-width:330px)
{
    .pokemons
    {
        grid-template-columns: repeat(1, 300px);
    }
}


.pokemons {
    display: grid;
    margin:auto;
    text-align: center;
    justify-items: center;
    justify-content: center;
    background-color: lightslategrey;
}

.pokemon {
    background-color: lightseagreen;
    padding:20px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.name {
    border-color: white;
    border-style: double;
}