@media screen and (min-width:600px)
{
    .container-form {
        grid-area: formulaire;
    }
    
    .container-infos {
        grid-area: infos;
    }
    .container-admin {
        grid-template-areas: "infos formulaire";
        display:grid;
    }
}

.container-admin {
    width:90%;
}
.container-form {
    width:100%;
}